<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subgenre_id %>
    <%= form.text_field :subgenre_id, id: :question_subgenre_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :question_description %>
  </div>

  <div class="field">
    <%= form.label :option1 %>
    <%= form.text_field :option1, id: :question_option1 %>
  </div>

  <div class="field">
    <%= form.label :option2 %>
    <%= form.text_field :option2, id: :question_option2 %>
  </div>

  <div class="field">
    <%= form.label :option3 %>
    <%= form.text_field :option3, id: :question_option3 %>
  </div>

  <div class="field">
    <%= form.label :option4 %>
    <%= form.text_field :option4, id: :question_option4 %>
  </div>

  <div class="field">
    <%= form.label :correct1 %>
    <%= form.check_box :correct1, id: :question_correct1 %>
  </div>

  <div class="field">
    <%= form.label :correct2 %>
    <%= form.check_box :correct2, id: :question_correct2 %>
  </div>

  <div class="field">
    <%= form.label :correct3 %>
    <%= form.check_box :correct3, id: :question_correct3 %>
  </div>

  <div class="field">
    <%= form.label :correct4 %>
    <%= form.check_box :correct4, id: :question_correct4 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
