<style>
  table, th, td {
    font-size: x-large;
  }

  span {
    font-size: x-large;
  }

  .badge {
    font-size: x-large;
  }
  .morris-chart text {
    fill: white;
  }
</style>

<h1>Dashboard</h1>
<br>

<% if notice %>
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong id="notice" style="color: white"><%= notice %></strong>
    </div>
<% end %>

<% if @correct %>
    <div class="alert alert-dismissible">
      <div class = "well">
        <div class="container-fluid">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div >
          <div id="donut" class="morris-chart" style="height: 300px; color: white"></div>
          <br><br>
        </div>
      </div>
    </div>
    </div>
    <script type="text/javascript">
        Morris.Donut({
            element: 'donut',
            data: [
                {label: "Correct", value: <%= @correct %>},
                {label: "Wrong", value: <%= @incorrect %>}
            ],
            colors :[
                "#00A85C",
                "#FF4031"
            ]
        });
    </script>
<% end %>

<div class="well bs-component">
  <table class="table">
    <tbody>
    <tr>
      <td>Email ID</td>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <td>Score</td>
      <td><%= current_user.score %></td>
    </tr>
    <tr>
      <td>Quizzes Taken</td>
      <td>
        <ul class="list-group">
          <% if @quizes.empty? %>
              No quiz taken
          <% else %>
              <% @quizes.each do |quiz| %>
                  <li class="list-group-item">
                    <span class="badge"><%= quiz.score %></span>
                    <%= quiz.subgenre.name %>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>