<%= form_with(model: subgenre, local: true) do |form| %>
  <% if subgenre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subgenre.errors.count, "error") %> prohibited this subgenre from being saved:</h2>

      <ul>
      <% subgenre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :subgenre_name %>
  </div>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.text_field :genre_id, id: :subgenre_genre_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
